/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain) */ /* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,
video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  color: #eee;
  background: #111;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif; 
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.3333333333em; /* 24 / 18 = 1.3333333333 */
  text-align: left;
  letter-spacing: 0.05555555555em; /* 1 / 18 = 0.05555555555  */
}

h1,
h2,
h3 {
  padding-bottom: 0.77777777777em; /* 14 / 18 = 0.77777777777 */
  padding-left: 0.6666666667em; /* 12 / 18 = 0.6666666667 */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em; /* 20 / 16 = 1.25 */
  line-height: 1.2em; /* 24 / 20 = 1.2 */
  letter-spacing: 0.11111111111em; /* 2 / 18 = 0.11111111111 */
}

p {
  padding-bottom: 0.3333333333em; /* 6 / 18 = 0.3333333333 */
  padding-right: 0.6666666667em; /* 12 / 18 = 0.6666666667 */
  padding-left: 0.6666666667em; /* 12 / 18 = 0.6666666667 */
}

ul, ol, li {
  padding-bottom: 0.3333333333em; /* 6 / 18 = 0.3333333333 */
}

ol {
  margin-left: 0.6666666667em; /* 12 / 18 = 0.6666666667 */
}

a {
  color: inherit;
  text-decoration: underline; /* This works for all browsers */
  text-decoration-color: #AAA; /* Additional intrinsic styles */
  text-decoration-style: solid;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 1em;
}

/* Module Styles */

a.to-nav {
  float: right;
  background: #6b6969;
  color: #c9f7e7;
  text-decoration: none;
  padding: 0 0.55555556em; /* 10 / 18 = 0.55555556 */
  font-weight: bold;
  line-height: 1.25em;
  height: 1.25em;
  text-transform: uppercase;
}

a.to-nav:hover,
a.to-nav:focus {
  color: #ffffff;
  background: rgb(48, 47, 47);
}

.workdescription, .workdate {
  font-size: 1em; /* 16/ 16 = 1 */
  font-style: italic;
}

.workdetail li {
  list-style: circle;
  list-style-position: inside;
  padding-left: 0.3333333em; /* 6 / 18 = 0.3333333333 */
}

.historycards {
  margin: 0 auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(16.6666667em, 1fr)); /* 300 / 18 = 16.6666667 */
  grid-row: auto / span 2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1em;
}

.historycards ol {
  list-style-type: lower-roman;
  margin-left: 1em;
  padding: 0.3333333333em; /* 6 / 18 = 0.3333333333 */
}

.historycards ul {
  list-style-type: square;
  padding-bottom: 0.3333333333em; /* 6 / 18 = 0.3333333333 */
}

.ft-title {
  color: #fff;
  font-size: 1.25em;
  padding-bottom: 0.625em;
  padding-left: 0;
}

/* Footer main */
.ft-main {
  padding: 1.25em 1.5em;
  display: flex;
  flex-wrap: wrap;
}
.ft-item {
  min-width: 12.5em;
}

.credits {
  padding: 0.9375em 1.875em;
  background-color: #333;
}
.credits-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.credits-list li {
  padding-right: 0.625em;
}

#header {
  color: #c9f7e7;
  background-color: rgb(150, 150, 150);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding-top: 0.66666666666em ; /* 12 / 18 = 0.7058823529*/
  padding-right: 1.33333333333em; /* 24 / 18 = 1.33333333333 */
  padding-left: 1.33333333333em; /* 24 / 18 = 1.33333333333 */
}

#aboutme {
  background-color: #c9f7e7;
  color: #6b6969;
  padding-bottom: 2em; /* 36 / 18 = 1.4117647059 */
  padding-left: 1.4117647059em; /* 24 / 18 = 1.4117647059 */
}

#aboutme h2 {
  padding-top: 2em; /* 36 / 18 = 1.4117647059 */
}

#aboutme p {
  display: flex;
  justify-content: space-between;
  text-indent: 2em; /*adding indentation to the paragraphs*/
}

#schedule {
  display: block;
  padding-top: 0.7058823529em ; /* 12 / 18 = 0.7058823529*/
  padding-right: 1.4117647059em; /* 24 / 18 = 1.4117647059 */
  padding-left: 1.4117647059em; /* 24 / 18 = 1.4117647059 */
  padding-bottom: 1.4117647059em ; /* 24 / 18 = 1.4117647059 */
}

#schedule h2 {
  padding-bottom: 1.33333333333em; /* 24 / 18 = 1.33333333333 */
}

#schedule ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#schedule li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

#resume {
  background-color: #c9f7e7;
  color: rgb(150, 150, 150);
}

#resume li {
  margin-left: 1em;
}

#resume h2 {
  font-size: 1.1em; /* 16/ 16 = 1 */
  color: black;
  text-emphasis-style: open;
  text-emphasis-position: under left;
}

#resume h3 {
  padding-bottom: 0;
}

#contacttitle {
  padding-top: 1.4117647059em ; /* 24 / 18 = 1.4117647059 */
}

#contact {
  padding-bottom: 1.4117647059em ; /* 24 / 18 = 1.4117647059 */
}

#iit {
  padding-left: 0.3333333em; /* 6 / 18 = 0.3333333333 */
  font-style: italic;
}

#skills ul, #courses ul, #leadership ul, #awards ul {
  padding-bottom: 1.4117647059em ; /* 24 / 18 = 1.4117647059 */
}

#courses li, #skills li, #leadership li, #awards li {
  list-style: circle;
  list-style-position: inside;
  padding-left: 0.3333333em; /* 6 / 18 = 0.3333333333 */
}

#citations {
  padding-left: 1.5em;
  background-color: white;
  color: rgb(150, 150, 150);
}

#citations h2 {
  padding-top: 1.5em;
}

#about, #babbagework {
  background-color: #c5ae93;
}

#womenincs, #adababbage {
  background-color: #9ec3d4;
}

#mathwork, #demorgan {
  background-color: #c593a0;
}

#adanote, #byron {
  background-color: #9bc593;
}

#adavision, #byronimpact {
  background-color: #bfc48b;
}

#patriarchy, #funfacts {
  background-color: #9b93c5;
}

#popculture, #holiday {
  background-color: #93c5ba;
}

#steampunk, #lgbtq {
  background-color: #6d6c43;
}

#acmbook, #game {
  background-color: #5f5f72;
}

#babbage, #moreinfo {
  background-color: #c59393;
}

#footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #555;
  color: #bbb;
  line-height: 1.3333333em;
}
#footer ul {
  list-style: none;
  padding-left: 0;
}

#footer a {
  text-decoration: none;
  color: rgb(181, 200, 240);
}
#footer a:hover {
  text-decoration: underline;
}

/* State Styles */

@media screen and (min-width: 55.5555556em) { /* 1000 / 18 = 55.5555556 */
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(auto, 25em)) 1fr;
  }

  .content-wrap,
  #schedule ul {
    grid-column: 2/8;
  }

  #schedule ul {
    display: flex;
    justify-content: space-around;
  }

  #schedule li {
    width: 19%; /*Had to play around to get this # */
  }
}

@media screen and (min-width: 33.3333333em) { /* 600 / 18 = 33.3333333 */
  .ft-main {
    justify-content: space-evenly;
  }
}

/** A quick baseline grid overlay using css+svg. Inspired by [Basehold.it](https://basehold.it/). @author leshido */
.g body {
  position: relative;
}

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="28" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after {
  display: none;
}
